/*
圖片翻轉特效
eg:
ul[data-liffect="zoomIn"] li {
    animation-name: zoomIn;
    backface-visibility: visible !important;
}
*/

/* zoomIn */

@keyframes zoomIn {
    0% { opacity: 0; transform: scale(2); }
    100% { opacity: 1; transform: scale(1); }
}

/* zoomOut */

@keyframes zoomOut {
    0% { opacity: 0; transform: scale(.4); }
    100% { opacity: 1; transform: scale(1); }
}

/* fadeIn */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* slideLeft */

@keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

/* slideRight */

@keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

/* slideTop */

@keyframes slideTop {
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

/* slideBottom */

@keyframes slideBottom {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

/* flip */

@keyframes flip {
    0% { opacity: 0;
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out; }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out; }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in; }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in; }
    100% {
        opacity: 1;
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in; }
}

/* flipInX */

@keyframes flipInX {
    0% { opacity: 0; transform: perspective(400px) rotateX(85deg); }
    40% { transform: perspective(400px) rotateX(-20deg); }
    70% { transform: perspective(400px) rotateX(15deg); }
    90% { transform: perspective(400px) rotateX(-5deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

/* flipInY */

@keyframes flipInY {
    0% { opacity: 0; transform: perspective(400px) rotateY(80deg); }
    40% { transform: perspective(400px) rotateY(-20deg); }
    70% { transform: perspective(400px) rotateY(10deg); }
    90% { transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

/* bounceIn */

@keyframes bounceIn {
    0% { opacity: 0; transform: scale(.3); }
    50% { transform: scale(1.05); }
    70% { transform: scale(.9); }
    100% { opacity: 1; transform: scale(1); }
}

/* bounceInUp */

@keyframes bounceInUp {
    0% { opacity: 0; transform: translateY(2000px); }
    60% { transform: translateY(-30px); }
    80% { transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* bounceInDown */

@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-2000px); }
    60% { transform: translateY(30px); }
    80% { transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* bounceInLeft */

@keyframes bounceInLeft {
    0% { opacity: 0; transform: translateX(-2000px); }
    60% { transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* bounceInRight */

@keyframes bounceInRight {
    0% { opacity: 0; transform: translateX(2000px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(10px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* pageLeft */

@keyframes pageLeft {
    0% { opacity: 0; transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

/* pageLeftBack */

@keyframes pageLeftBack {
    0% { opacity: 0; transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

/* pageRight */

@keyframes pageRight {
    0% { opacity: 0; transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

/* pageRightBack */

@keyframes pageRightBack {
    0% { opacity: 0; transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

/* pageTop */

@keyframes pageTop {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

/* pageTopBack */

@keyframes pageTopBack {
    0% { opacity: 0; transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

/* pageBottom */

@keyframes pageBottom {
    0% { opacity: 0; transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

/* pageBottomBack */

@keyframes pageBottomBack {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

/* starwars */

@keyframes starwars {
    0% { opacity: 0; transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    60% { opacity: 1; transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; transform: perspective(200px) scale(1) rotateX(0deg) }
}
