html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.wf-loading .hero-title, .wf-loading .hero-description, .wf-loading .button, .wf-loading .postItem, .wf-loading .collectionItem, .wf-loading .butterBar, .wf-loading .bucket, .wf-loading .overlay-dialog, .wf-loading .metabar-text, .wf-loading .avatar-span, .wf-loading .postMetaInline--date, .wf-loading .tooltip, .wf-loading .popover-inner, .wf-loading .sortableTable, .wf-loading .chartTabs, .wf-loading .chart-title, .wf-loading .table, .wf-loading .navTabs-anchor, .wf-loading .notificationsList-heading, .wf-loading .notificationsList-button, .wf-loading .list-itemTitle, .wf-loading .list-itemDescription, .wf-loading .postField--body, .wf-loading .postArticle .caption, .wf-loading .post-footer-card, .wf-loading .postFooter-collection, .wf-loading .postFooter-author, .wf-loading .textInput, .wf-loading .notesSource, .wf-loading .responses-prompt, .wf-loading .menu-label, .wf-loading .block-title, .wf-loading .block-snippet, .wf-loading .blockDivider-name, .wf-loading .block-postMeta, .wf-loading .notesPostMeta, .wf-loading .hero-title, .wf-loading .hero-description {
    visibility: hidden;
}

.m-breakWord {
    word-break: break-word;
    word-wrap: break-word;
}

.pilcrow {
    font-family: "Arial", sans-serif;
    font-size: .7em;
    padding: 0 .25em;
    position: relative;
    top: -0.15em;
    opacity: .4;
}

.tabularNumeral {
    display: inline-block;
    width: .56em;
    text-align: center;
}

.tabularNumeral--comma {
    width: .3em;
    text-align: left;
}
.middotDivider:after {
    content: '·';
}

@font-face {
    font-family: 'Cambria';
    src: local('Arial'), local('Helvetica');
    unicode-range: U+2500-259F;
}

@-ms-viewport {
    width: device-width;
}

body {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
    margin: 0;
}

p {
    margin-bottom: 30px;
}

menu, ol, ul {
    padding: 0;
    list-style: none;
    list-style-image: none
}

figcaption {
    -webkit-nbsp-mode: normal;
}


@media (max-width: 1200px) {
    html {
        -webkit-text-size-adjust: none;
    }
}
@media print {
    h2, h3 {
        page-break-after: avoid;
        page-break-inside: avoid
    }
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact
    }
}
